.mediaScroller {
  padding: 16px 8px 40px 8px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 47%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}
